name: lint workflows

on:
  push:
    paths:
      - '.github/workflows/'
  pull_request:
    branches:
      - 'main'

jobs:
  lint-workflows:
    name: Lint Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup ASDF
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47

      - name: Lint Actions
        run: make lint-actions
