name: Build

on:
  push:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: electronuserland/builder:wine
      env:
        ELECTRON_CACHE: '/root/.cache/electron'
        ELECTRON_BUILDER_CACHE: '/root/.cache/electron-builder'

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: .tool-versions

      - name: Install dependencies
        run: |
          npm ci

      - name: build
        run: |
          git config --global --add safe.directory /__w/desktop-client/desktop-client
          # mac requires dmg-builder, which doesn't get installed for some reason
          #npm run package -m --arm64
          #npm run package -m --x64
          npm run package -l --arm64
          npm run package -l --x64
          # windows complains about home directory permissions.
          #npm run package -w --x64
