name: Build

on:
  push:

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    container:
      image: electronuserland/builder:wine
      env:
        ELECTRON_CACHE: '/root/.cache/electron'
        ELECTRON_BUILDER_CACHE: '/root/.cache/electron-builder'

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version-file: .tool-versions

      - name: Install dependencies
        run: |
          npm ci

      - name: build
        run: |
          git config --global --add safe.directory /__w/desktop-client/desktop-client
          # mac requires dmg-builder, which doesn't get installed for some reason
          #npm run package -m --arm64
          #npm run package -m --x64
          npm run package -l --arm64
          npm run package -l --x64
          # windows complains about home directory permissions.
          #npm run package -w --x64
