on:
  release:

jobs:
  notify-tap:
    runs-on: ubuntu-latest

    steps:
      - id: get_version
        uses: pozetroninc/github-action-get-latest-release@2a61c339ea7ef0a336d1daa35ef0cb1418e7676c
        with:
          repository: ${{ github.repository }}

      - id: clean_version
        run: |
          echo "release=${VERSION#v}" >> $GITHUB_OUTPUT
        env:
          VERSION: '${{ steps.get_version.outputs.release }}'

      - uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697
        with:
          repository: pomerium/homebrew-tap
          token: ${{ secrets.APPARITOR_GITHUB_TOKEN }}
          event-type: desktop-client-release
          client-payload: '{ "version": "${{ steps.clean_version.outputs.release }}" }'
