name: Publish

on:
  push:
    branches: ['main']

permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: write
      issues: read
      pull-requests: read
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version-file: .tool-versions

      - name: Install dependencies
        run: |
          npm ci

      - name: Import Apple CSC
        uses: apple-actions/import-codesign-certs@b610f78488812c1e56b20e6df63ec42d833f2d14
        with:
          p12-file-base64: ${{ secrets.APPLE_APP_CSC }}
          p12-password: ${{ secrets.APPLE_APP_CSC_PASSWORD }}

      - name: Set up Apple ID Credentials
        run: |
          mkdir ~/private_keys
          key_path=~/private_keys/AuthKey_${{ secrets.APPLE_ID }}.p8
          echo "${{ secrets.APPLE_ID_KEY }}" > "$key_path"
          echo "APPLE_API_KEY_PATH=$key_path" >> "$GITHUB_ENV"

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.github_token }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_KEY_ISSUER: ${{ secrets.APPLE_ID_KEY_ISSUER }}
        run: |
          npm run release -- -m --arm64
          npm run release -- -m --x64
          npm run release -- -l --arm64
          npm run release -- -l --x64
          npm run release -- -w --x64
