name: Publish
permissions:
  contents: read
on:
  push:
    branches: ['main']

jobs:
  publish:
    permissions:
      contents: write
      issues: read
      pull-requests: read
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Install Node, NPM and Yarn
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 20.6.1

      - name: Install dependencies
        run: |
          yarn install

      - name: Import Apple CSC
        uses: apple-actions/import-codesign-certs@95e84a1a18f2bdbc5c6ab9b7f4429372e4b13a8b
        with:
          p12-file-base64: ${{ secrets.APPLE_APP_CSC }}
          p12-password: ${{ secrets.APPLE_APP_CSC_PASSWORD }}

      - name: Set up Apple ID Credentials
        run: |
          mkdir ~/private_keys
          key_path=~/private_keys/AuthKey_${{ secrets.APPLE_ID }}.p8
          echo "${{ secrets.APPLE_ID_KEY }}" > "$key_path"
          echo "APPLE_API_KEY_PATH=$key_path" >> "$GITHUB_ENV"

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.github_token }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_KEY_ISSUER: ${{ secrets.APPLE_ID_KEY_ISSUER }}
        run: |
          yarn release -m --arm64
          yarn release -m --x64
          yarn release -l --arm64
          yarn release -l --x64
          yarn release -w --x64
